<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mani_pc7989.webtech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="MainActivity" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".legislatore_Details" />

        <activity
            android:name=".committee_details"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_committee_details"
            android:theme="@style/FullscreenTheme" />

        <activity android:name=".bill_details" >

        </activity>

        <activity
            android:name=".About_ME"
            android:label="@string/title_activity_about__me"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.mani_pc7989.webtech.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mani_pc7989.webtech.MainActivity" />

        </activity>
    </application>

</manifest>